<div id="main-content" class="container-fluid">
  <div class="tweet">
    {{#link-to "tweets" (query-params name=this.topic.name)}}
      <h3>{{this.topic.name}}</h3>
    {{/link-to}}
    <div class="detail owner">
      <span>{{promoted_content}}</span>
    </div>
  </div>
</div>