html, body {
  margin: 20px;
}

.content s {
  text-decoration: none;
}

#main-content {
  width: 760px;
  align: center;
  font-size: 130%;
}

#main-content .tweet {
  padding-bottom: 6px;
  padding-top: 16px;
  border-bottom: 1px solid #e1e8ed;
}

#main-content .tweet .tweet-content {
  margin-left: 88px;
}

#main-content .tweet .tweet-content img {
  margin-left: -88px;
  margin-top: 6px;
  float: left;
  border-radius: 5px;
}

#main-content .tweet .tweet-content .tweet-full-name {
  margin-left: 0px;
}

#main-content .tweet .tweet-content .tweet-username {
  font-weight: normal;
  color: #8899a6;
}

#main-content .tweet .tweet-content .tweet-time {
  font-weight: normal;
  color: #8899a6;
}

#main-content .tweet .tweet-content .tweet-text {
  margin-left: 0px;
  margin-top: 6px;
  font-size: 150%;
}
