<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>Trending topics in you region are here!</p>
  {{#each this.model as |topic|}}
    <Topic @topic={{topic}}/>
  {{/each}}
</div>