<div id="main-content" class="container-fluid">
  <div class="row">
    {{#each this.model as |tweet|}}
      <div class="tweet">
        <div class="tweet-content">
          <img class="tweet-avatar" src={{tweet.avatar}} alt="Avatar">
          <strong class="tweet-full-name">{{tweet.author}}</strong>
          <span>&rlm;</span>
          <span class="tweet-username">@{{tweet.screenname}}</span>
          <span>&rlm;</span>
          <small class="tweet-time">{{tweet.date}}</small>
          <p class="tweet-text">{{tweet.body}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
